<br />
<h1>DBZ Main Page!</h1>

<hr />

<div class="row">
  <div class="col">
    <app-dbz-list></app-dbz-list>
  </div>

  <br />

  <div class="row mt-4">

    <!-- add character -->

    <h4>Agregar personaje</h4>

    <form class="row">
      <input type="text" class="form-control mb-2" placeholder="Name" />

      <input type="number" class="form-control mb-2" placeholder="Special Power" />

      <button type="submit" class="btn btn-primary">Add DBZ Hero</button>
    </form>
  </div>
</div>
